*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    background-color: #0b0c11;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}
body{
    
}
h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #64beb5;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 1rem;
}
a{
    text-decoration: none;
}

.inactive {
    display: none;
}
header{
     position: fixed;
     width: 100%;
}

nav{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
}

nav div {
    background-color: #0b0c11;
    width: 5.8rem;
    height: 5.8rem;
    border-radius: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div img {
    width: 5rem;
    height: 5rem;
    
}

nav div:nth-child(2) img {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

/* Menu desplegable */

.menu {
    width: 70%;
    height: 35rem;
    background-color: #0b0c11;
    box-shadow: 0px 0px 5px 1px #64beb5;
    border-radius: 1rem;
    position: absolute;
    top: 2.6rem;
    right: 2.6rem;
}

.menu div:nth-child(1){
    display: flex;
    justify-content: end;
    cursor: pointer;
}
.menu div:nth-child(1) img {
    width: 4rem;
    height: 4rem;
}
.menu div:nth-child(2){
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-top: 2rem;
}
.menu a{
    color: #c7c7c7;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

main {
    padding-top: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div:nth-child(1) img{
    width: 20rem;
    border-radius: 50%;
    border: 2px solid #64beb5;
    box-shadow: 0px 0px 5px 1px #64beb5;
    margin-bottom: 2rem;
}

main div p {
    font-size: 2.5rem;
    font-weight: bold;
    color: #c7c7c7;
}

/* Haciendo que mi nombre se escriba el solo */
.texto {
    font-family: Arial, sans-serif;
    white-space: pre-line;
    color: white;
   /*  position: relative; */
}

 .texto::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 1em;
    background-color: white;
    animation: cursor 1s infinite;
    
}

@keyframes cursor {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    
}
main div p:nth-child(2){
    font-size: 1.8rem;
    font-weight: bold;
    color: #64beb5;
}

.redes {
    display: flex;
    flex-direction: row;
    width: 18rem;
    justify-content: space-between;
    padding-top: 2rem;
}
.redes a {
    width: 5rem;
}

.redes  a:nth-child(1) img {
    width: 4rem;
}
.redes  a:nth-child(2) img {
    width: 4.2rem;
}
.redes a:nth-child(3) img {
    width: 4.8rem;
}

/* La parte de la descripcion */

.descripcion {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.descripcion h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #64beb5;
    padding-top: 2rem;
}

.descripcion p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #c7c7c7;
    line-height: 2.5rem;
}

/* Parte de las habilidades y los proyectos */

.proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    text-align: center;
}

.proyectos h2:nth-child(1){
    padding-bottom: 8rem;
}
.proyectos .habilidades div{
    font-size: 1.5rem;
    font-weight: bold;
    width: 9rem;
    height: 3rem;
    border-radius: 1.2rem;
    cursor: pointer;
}

.habilidades {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
}
.proyectos .habilidades div:nth-child(1){
    background-color: #7bccba;
    color: white;
}
.proyectos .habilidades div:nth-child(2){
    background-color: #ffc340;
    color: white;
}
.proyectos .habilidades div:nth-child(3){
    background-color: #48c26c;
    color: white;
}
.proyectos .habilidades div:nth-child(4){
    background-color: #137fd9;
    color: white;
}
.proyectos .habilidades div:nth-child(5){
    background-color: #ff599e;
    color: white;
}
.proyectos .habilidades div:nth-child(6){
    background-color: #ab3ed8;
    color: white;
}
.proyectos div:nth-child(2) h2{
    padding-top: 5rem;
}

/* Proyectos con CSS */


/* Proyectos con JS */

.js {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5rem;
}

.js p {
    font-size: 1.5rem;
    color: #c7c7c7;
}

#miDiv {
    width: 28rem;
    height: 20rem;
    overflow: none;
    background-color: white;
    margin-top: 5rem;
  }
  
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  .enlaces {
    display: flex;
    justify-content: space-around;
  }

 .but{
    margin-top: 2rem;
    padding: .5rem;
    background-color: rgb(58, 170, 58);
    width: 8rem;
    border-radius: 1rem;
  }
  .but a{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
  #miDiv div:nth-child(3){
    padding-top: 1rem;
    padding-bottom: 5rem;
  }

  #miDiv div:nth-child(3) p:nth-child(3){
    font-size: 1.2rem;
  }

  /* Footer */

  footer{
    width: 100%;
    height: 10rem;
    background-color: #0b0c11;
    margin-top: 15rem;
    /* border-top: .3rem solid #64beb5; */
    display: flex;
    flex-direction: column;
    text-align: center;
  }


  footer p{
    font-size: 1.5rem;
    color: #c7c7c7;
    padding-bottom: 3rem;
    padding-top: 2rem;
  }




  @media  (min-width: 768px) {
    /* Estilos para tabletas */


    body {
        display: grid;
        grid-template-columns: repeat(3, 33% 33.5% 33.5%);
        grid-template-rows: repeat(3, auto auto auto);
        grid-gap: 0;
    }
 /*    nav {
        grid-row: 1 / 3;
        grid-column: 1 / 1;
      } */
      main {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        position: fixed;
        /* border-right: .3rem solid #64beb5; */
        width: 33%;
        padding-bottom: 15rem;
        height: auto;
      }
      .descripcion {
        grid-row: 1 / 2;
        grid-column: 2/ 4;
        padding-top: 10rem;
        padding-right: 10rem;
        padding-left: 3rem;
      }
      .proyectos {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
      }
      footer {
        grid-row: 3 / 4;
        grid-column: 2 / 4;
        height: 5rem;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      .menu {
        width: 30%;
      }
  }